{% extends "base.html" %}


{% block title %}
パスワード変更 | Tripper
{% endblock %}



{% block main %}


<div class="row justify-content-center">


    <div class="col-md-8 col-lg-6">


        <div class="card shadow-sm">


            <div class="card-body p-4">


                <h2 class="text-center mb-4">

                    パスワード変更

                </h2>




                {% if form.errors %}


                    <div class="alert alert-danger">

                        入力内容に誤りがあります。

                    </div>


                {% endif %}





                <form method="post">


                    {% csrf_token %}




                    <!-- パスワード入力 -->

                    <div class="mb-4">


                        {{ form.as_p }}


                    </div>






                    <div class="d-grid">


                        <button
                            type="submit"
                            class="btn btn-primary">

                            変更する

                        </button>


                    </div>


                </form>





                <div class="text-center mt-3">


                    <a
                        href="{% url 'profile' %}">

                        プロフィールへ戻る

                    </a>


                </div>



            </div>


        </div>


    </div>


</div>


{% endblock %}