{% extends "base.html" %}

{% block title %}
Spot削除 | Tripper
{% endblock %}

{% block main %}


<h1>
    Spot削除
</h1>


<p>
    以下のSpotを削除してもよろしいですか？
</p>


<div>

    <p>

        {% if object.time %}

            <strong>
                {{ object.time|time:"H:i" }}
            </strong>

        {% else %}

            <strong>
                時間未定
            </strong>

        {% endif %}

        {{ object.name }}

    </p>


    {% if object.url %}

        <p>
            URL：

            <a
                href="{{ object.url }}"
                target="_blank"
                rel="noopener noreferrer"
            >
                {{ object.url }}
            </a>
        </p>

    {% endif %}


    {% if object.memo %}

        <p>
            メモ：
            {{ object.memo }}
        </p>

    {% endif %}

</div>


<hr>


<form method="post">

    {% csrf_token %}

    <button
        type="submit"
        class="btn btn-danger"
    >
        削除する
    </button>

</form>


<hr>


{% if trip.status == "draft" %}

    <a href="{% url 'trip_detail' trip.trip_id %}">
        Trip詳細に戻る
    </a>

{% else %}

    <a href="{% url 'trip_detail' trip.trip_id %}?edit=1">
        Trip編集画面に戻る
    </a>

{% endif %}


{% endblock %}