{% extends "base.html" %}

{% block title %}

    {% if is_completed_edit %}
        代表写真・感想を編集 | Tripper
    {% else %}
        旅を完了する | Tripper
    {% endif %}

{% endblock %}


{% block main %}


{% if is_completed_edit %}

    <h1>
        代表写真・感想を編集
    </h1>

{% else %}

    <h1>
        旅を完了する
    </h1>

{% endif %}


<form
    method="post"
    enctype="multipart/form-data"
>

    {% csrf_token %}


    {% if form.non_field_errors %}

        <div>

            {% for error in form.non_field_errors %}

                <p>
                    {{ error }}
                </p>

            {% endfor %}

        </div>

    {% endif %}


    <div>

        <label for="{{ form.main_media.id_for_label }}">
            代表写真
        </label>

        {{ form.main_media }}

        {% if form.main_media.errors %}

            {% for error in form.main_media.errors %}

                <p>
                    {{ error }}
                </p>

            {% endfor %}

        {% endif %}

    </div>


    <br>


    <div>

        <label for="{{ form.overview.id_for_label }}">
            感想
        </label>

        {{ form.overview }}

        {% if form.overview.errors %}

            {% for error in form.overview.errors %}

                <p>
                    {{ error }}
                </p>

            {% endfor %}

        {% endif %}

    </div>


    <br>


    <div>

        {{ form.is_public }}

        <label for="{{ form.is_public.id_for_label }}">
            このTripを公開する
        </label>

        {% if form.is_public.errors %}

            {% for error in form.is_public.errors %}

                <p>
                    {{ error }}
                </p>

            {% endfor %}

        {% endif %}

    </div>


    <br>


    <p>
        ※ 公開する場合は、
        代表写真と感想の登録が必要です。
    </p>


    {% if is_completed_edit %}

        <button
            type="submit"
            class="btn btn-primary"
        >
            保存
        </button>

    {% else %}

        <button
            type="submit"
            class="btn btn-primary"
        >
            旅を完了する
        </button>

    {% endif %}


</form>


<hr>


{% if is_completed_edit %}

    <a href="{% url 'trip_detail' trip.trip_id %}?edit=1">
        Trip編集画面に戻る
    </a>

{% else %}

    <a href="{% url 'trip_detail' trip.trip_id %}">
        Trip詳細に戻る
    </a>

{% endif %}


{% endblock %}