{% extends "base.html" %}


{% block title %}
My Trip | Tripper
{% endblock %}


{% block main %}


{# ======================================== #}
{# My Trip / 保存Trip 切り替え #}
{# ======================================== #}

{% include "pages/trip/includes/trip_list_tabs.html" %}



{# ======================================== #}
{# Trip作成 #}
{# ======================================== #}

<div class="d-flex justify-content-end mb-4">

    <a
        href="{% url 'trip_create' %}"
        class="btn btn-primary"
    >
        ＋ Tripを作成
    </a>

</div>



{# ======================================== #}
{# My Trip一覧 #}
{# ======================================== #}

<div class="row">

    {% for trip in trips %}

        {% include "pages/trip/includes/trip_list_card.html" with card_type="my" %}

    {% empty %}

        <div class="col-12">

            <p>
                まだTripがありません。
            </p>

            <a
                href="{% url 'trip_create' %}"
                class="btn btn-primary"
            >
                最初のTripを作成
            </a>

        </div>

    {% endfor %}

</div>


{% endblock %}