/* ========================================
   ユーザー簡易プロフィール
======================================== */

.user-mini-profile {
    width: fit-content;
}


.user-mini-profile .user-mini-profile-image {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    flex: 0 0 40px;
}