<div id="day-{{ day.day_id }}">


    {# ======================================== #}
    {# Day基本情報 #}
    {# ======================================== #}

    {% include "pages/trip/includes/day/day_basic.html" %}


    <hr>


    {# ======================================== #}
    {# スケジュール #}
    {# ======================================== #}

    {% include "pages/trip/includes/day/day_schedules.html" %}



    {# ======================================== #}
    {# 旅中の記録 #}
    {# ======================================== #}

    {% include "pages/trip/includes/day/day_record_traveling.html" %}



    {# ======================================== #}
    {# 旅完了後の記録 #}
    {# ======================================== #}

    {% include "pages/trip/includes/day/day_record_completed.html" %}


</div>


<hr>