<header class="bg-dark shadow-sm">
    <nav class="container navbar navbar-expand-lg navbar-dark">

        <!-- ロゴ -->
        <a class="navbar-brand fw-bold" href="/">
            🌍 Tripper
        </a>

        <!-- スマホ用メニューボタン -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- メニュー -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">My Trip</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Trip作成</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">プロフィール</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>

            </ul>

        </div>

    </nav>
</header>