{% extends "base.html" %}


{% block title %}
パスワード変更完了 | Tripper
{% endblock %}


{% block main %}

<div class="row justify-content-center">

    <div class="col-md-8 col-lg-6">

        <div class="card shadow-sm">

            <div class="card-body p-4 text-center">

                <h2 class="mb-4">
                    パスワード変更完了
                </h2>


                <p class="mb-4">
                    パスワードの変更が完了しました。
                </p>


                <a
                    href="{% url 'login' %}"
                    class="btn btn-primary"
                >
                    ログインする
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}