{% extends "base.html" %}


{% block title %}
メール送信完了 | Tripper
{% endblock %}



{% block main %}


<div class="row justify-content-center">


    <div class="col-md-8 col-lg-6">


        <div class="card shadow-sm">


            <div class="card-body p-4 text-center">


                <h2 class="mb-4">

                    メールを送信しました

                </h2>




                <p class="mb-4">

                    パスワード再設定用のリンクを記載したメールを送信しました。<br>
                    メールをご確認ください。

                </p>





                <p class="text-muted small">

                    メールが届かない場合は、入力したメールアドレスを確認してください。

                </p>





                <a
                    href="{% url 'login' %}"
                    class="btn btn-primary mt-3">

                    ログイン画面へ戻る

                </a>



            </div>


        </div>


    </div>


</div>


{% endblock %}