{% load static %}

<!DOCTYPE html>

<html lang="ja">


<head>

    <meta charset="UTF-8">


    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >


    <title>
        {% block title %}
            Tripper
        {% endblock %}
    </title>



    {# ======================================== #}
    {# Bootstrap CSS #}
    {# ======================================== #}

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >



    {# ======================================== #}
    {# 共通CSS #}
    {# ======================================== #}

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >



    {# ======================================== #}
    {# ページ専用CSS #}
    {# ======================================== #}

    {% block extra_css %}
    {% endblock %}


</head>



<body class="d-flex flex-column min-vh-100">


    {# ======================================== #}
    {# Header #}
    {# ======================================== #}

    {% include "snippets/header.html" %}



    {# ======================================== #}
    {# Main #}
    {# ======================================== #}

    <main class="container py-4 flex-grow-1">

        {% block main %}
        {% endblock %}

    </main>



    {# ======================================== #}
    {# Footer #}
    {# ======================================== #}

    {% include "snippets/footer.html" %}



    {# ======================================== #}
    {# Bootstrap JavaScript #}
    {# #}
    {# navbar / collapse / modal などに必要 #}
    {# ======================================== #}

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    ></script>



    {# ======================================== #}
    {# ページ専用JavaScript #}
    {# ======================================== #}

    {% block extra_js %}
    {% endblock %}


</body>


</html>